.mode-btn {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  transform: translateY(0);
  &:active {
    transition: 0.1s ease-in;
    transform: scale(0.5);
    transform: translateY(15px);
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
